body {
  background: black;
  color: lightyellow;
  font-family: sans-serif;
  margin: 0 0;
}

header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  padding: 1em 2em;
  border-bottom: solid lightyellow;
}

#header-title {
  cursor: pointer;
  display: inline-block;
}

.container {
  margin: 2em 2em;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.email {
  padding: 12px 8px;
  background: #242424;
  border-bottom: dotted lightyellow;
  cursor: pointer;
}

.email-body-hidden {
  display: none;
}

.new-email-form {
  display: flex;
  flex-direction: row;
}

.form-container {
  max-width: 300px;
  border: dotted lightyellow;
  border-radius: 5%;
  margin: 1em 2em;
  padding: 1em 2em;
}

.new-email-form label {
  color: seashell;
}

.new-email-form input,
button {
  height: 30px;
  border-radius: 5px;
  background-color: lightgray;
}

.new-email-form .submit {
  background-color: lightyellow;
}

.output-error {
  color: red;
}

.error {
  color: red;
  font-size: 10px;
}

.output-success {
  color: green;
}
